body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
}

h1,
h2,
h3 {
  color: #aca2a2;
}

nav {
  background-color: #2a302a;
  color: white;
  padding: 10px;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.input-section {
  margin-bottom: 20px;
}

input[type="text"],
input[type="file"] {
  margin: 5px;
  padding: 10px;
  width: 90%;
}

button {
  padding: 10px 15px;
  background-color: #493e3e;
  border-radius: 25px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #353635;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  flex: 1 1 calc(30% - 20px);
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 90%;
  max-width: 900px;
  max-height: 90vh; /* Limita la altura máxima para evitar que el contenido se salga de la pantalla */
  overflow: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 10px;
}

.column1 {
  flex: 0 0 3%;
  min-height: 100%;
  padding: 10px;
}

.nav-button {
  background-color: #f0f0f0;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 5px;
  object-fit: contain;
}

.modal-info {
  margin-top: 10px;
}

.comments {
  margin-top: 10px;
}

.chat-bubble {
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
}

.blur {
  filter: blur(4px);
}

@media (max-width: 800px) {
  .modal-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .modal-content {
    max-width: 90%;
    max-height: 90%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: auto;
  }

  .modal-image {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    overflow: auto;
  }

  .column1 {
    display: none;
  }

  .modal-info {
    margin-bottom: 1rem;
  }

  .comments {
    flex-direction: column;
    margin-top: 1rem;
  }
}
